#InscriptForm {
	margin: 0 auto 50px;
	width:(100%-30px);
	padding:60px 30px 30px;
}

#InscriptForm header {
	margin-top:-65px;
}

#InscriptForm > form > div:first-child {

            column-count: 2;
  	-webkit-column-count: 2;
       -moz-column-count: 2;
        -ms-column-count: 2;
         -o-column-count: 2;

            column-rule: 3px solid rgba(0,153,255,1); 
   	-webkit-column-rule: 3px solid rgba(0,153,255,1); 
       -moz-column-rule: 3px solid rgba(0,153,255,1); 
        -ms-column-rule: 3px solid rgba(0,153,255,1); 
         -o-column-rule: 3px solid rgba(0,153,255,1); 

            column-gap: 3rem;
 	-webkit-column-gap: 3rem;
       -moz-column-gap: 3rem;
        -ms-column-gap: 3rem;
       	 -o-column-gap: 3rem;

	margin-bottom: 30px;
}


#blockLogin label, #blockMdp label, #blockEmail label {
	display: inline-block;
	width:30%;
}

/*#titreSecu {
	margin-top:10px;
}*/

#levSecu {
	margin-bottom:50px;
}

#nivSecu {
	text-align: center;
	margin:3px auto;
}

#nivSecu div {
	display:inline-block;
	background-color: #cccccc;
			border-radius: 3px;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	    -ms-border-radius: 3px;
	     -o-border-radius: 3px;
	border:1px solid #333333;
	width:32px;
	height:16px;
	margin:0 2px;
}

#nivSecu .redLvl {
	background-image: #FF0000;
	background: 		linear-gradient(to bottom, #FF0000, #660000);
	background: -webkit-linear-gradient(top, #FF0000 0%, #660000 100%);
    background:    -moz-linear-gradient(top, #FF0000 0%, #660000 100%);
    background:     -ms-linear-gradient(top, #FF0000 0%, #660000 100%);
    background:      -o-linear-gradient(top, #FF0000 0%, #660000 100%);	
}

#nivSecu .yellowLvl {
	background-image: #FFFF00;
	background: 		linear-gradient(to bottom, #FFFF00, #666600);
	background: -webkit-linear-gradient(top, #FFFF00 0%, #666600 100%);
    background:    -moz-linear-gradient(top, #FFFF00 0%, #666600 100%);
    background:     -ms-linear-gradient(top, #FFFF00 0%, #666600 100%);
    background:      -o-linear-gradient(top, #FFFF00 0%, #666600 100%);	
}

#nivSecu .greenLvl {
	background-image: #00FF00;
	background: 		linear-gradient(to bottom, #00FF00, #006600);
	background: -webkit-linear-gradient(top, #00FF00 0%, #006600 100%);
    background:    -moz-linear-gradient(top, #00FF00 0%, #006600 100%);
    background:     -ms-linear-gradient(top, #00FF00 0%, #006600 100%);
    background:      -o-linear-gradient(top, #00FF00 0%, #006600 100%);	
}



#titreSecu,
#levSecu {
	text-align: center;
}

#generate {
	float:right;
	margin-left:15px;
	margin-right:10px;
}

#generate .flashBtn{
	width:auto;
	height: 30px;
	padding:0 10px 7px;
	cursor:pointer;
}

#generate .showPwd {
	position:relative;
	margin-top:3px;
}

#generate label {
	width:calc(100% - 20px);
	padding-left:20px;
}

#generate input {
	position: absolute;
	top:5px;
	left:2px;
}



#blockLogin,
#blockMdp,
#blockEmail {
	margin-bottom: 20px;
}


